
.main-container {
    background-color: rgb(216, 59, 59);
    height: 800px;
}

.main-title {
    background: rgb(221, 152, 152);
    height: 250px;
    text-align: center;
    font-size: 120px;   
    

}

.main-box {
    display: flex;
    justify-content: space-around;
    padding-top: 40px; 
}

.main-column {
    margin: 5px;
    text-align: center;
}

.main-icon {
    display: block
}


.main-text {    

}