
/* placeholder for easy layout read */
body {
    box-sizing: border-box;
    margin: 0;
}

div {
    border: 2px solid black;
}
/*  */


.game-container {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    'score score menu menu menu title title'
    'score score main main main upgrades upgrades'
    'clickarea clickarea main main main upgrades upgrades'
    'clickarea clickarea main main main automate automate'
    'clickarea clickarea main main main automate automate'
    'clickarea clickarea main main main automate automate'
    'temp temp main main main automate automate';

    background-color: rgba(175, 227, 240, 1);

}

/* left part */



.score-content {
    grid-area: score
}

.score {
    width: 100%;
    height: 50%;
}

.task-click-field {
    grid-area: clickarea;
    display: flex;
    align-items: center;
    justify-content: center
}

.sloth-img {
    height: 50%;
    width: 25%
}

.click-me {
    width: 45%;
    height: 50%
}

.temp-content {
    grid-area: temp;
}

/* left part end */

/* center part start  */



.menu {
    grid-area: menu;
}

.main {
    grid-area: main;
}

/* center part end */

/* right part start */

.shop-title {
   grid-area: title;
   text-align: center;
   margin: auto

}

.upgrades {
    grid-area: upgrades;
}

.automate {
   grid-area: automate;
}

/* right part end */

