.footer{

background:#122843;


}
.footer-text{
display: flex;
justify-content:center;
font-family: Roboto,Arial,sans-serif;
color: aliceblue;
font-size: 14px;
padding-top: 30px;
padding-bottom: 30px;
}