body{
    /* background: red; */

}
.form-container{
    height: 600px;
    background: lightblue;
    
}
.form{
    height: 15%;
    width: 20%;
    background: blueviolet;
    margin-top: 100px;
    
}
.form-input{


}
.form-btn{

}