.container-hero {
    
    background-color: #1c2b49;
    display: flex;
}

.left {
    width: 50%;
    
    /* display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center; */   
}

.text {
    background: #1c2b49;
    width: 50%;
    margin: 30px;
    padding: 20px;
    text-align: center;
    color: white;
}

.description {
    background:#1c2b49;
    width: 70%;
    margin: 20px;
    padding: 20px;
    text-align: justify;
    color: #14f1d9;
}


.right {
    width: 50%;
}

.animation {
    background: green;
    width: 70%;
    margin: 20px;
    padding: 20px;
    

}

.button {
 margin: 20px;
}

. {
    animation: permarotate infinite 5s linear;
}

@keyframes permarotate {
    to {
        transform: rotate(360deg);
    }