.container-hero {
    
    background-color: #1c2b49;
    display: flex;
}

.left {
    width: 50%;
    
    /* display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center; */   
}

.text {
    background: green;
    width: 250px;
    margin: 20px;
    padding: 20px;
}

.description {
    background: red;
    width: 400px;
    margin: 20px;
    padding: 20px;
}


.right {
    width: 50%;
}

.animation {
    background: green;
    width: 250px;
    

}

.button {
 margin: 20px;
}