





#nav {
    height: 76px;
    background:#122843;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.logo {
    height: 30px;
    width: 150px;
    background: lightblue;
    margin: 20px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    display: flex;
    align-items: stretch;
    
}
.nav-item {
    background: #122843;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 52px;
    font-size: 18px;
    margin: 5px;
    width: 230px;
    color: white;
    font-family: Roboto,Arial,sans-serif;
    text-decoration: none;
    letter-spacing: 4px;
    cursor: pointer;
    transition: color 0.5s, font-size 0.5s;
}
.nav-item:hover{
    color:lightblue;
    font-size: 23px;
}