/* nav */
html {
    font-size: 62.5%;
}

#nav {
    height: 76px;
    background:#2b57a1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.logo {
    height: 80px;
    width: 120px;
    margin: 20px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    display: flex;
    align-items: stretch;
    font-size: 20px;
    
}
.nav-item {
    background: #2b57a1;;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 52px;
    font-size: 20px;
    line-height: 1.5;
    margin: 5px;
    width: 230px;
    color: white;
    font-family: theinhardt-web,sans-serif;
    text-decoration: none;
    letter-spacing: 4px;
    cursor: pointer;
    transition: color 0.5s, font-size 0.5s;
}
.nav-item:hover{
    color: #5e9aff;
    font-size: 23px;
}


/* end nav  */

/* hero */

#hero {
    margin: 0;
}

.hero-container {
    margin-top: 76px;
    margin-left: 0;
    margin-right: 0;
    background-color: #2b57a1;;
    display: flex;
    height: 550px;

}

.hero-left {
    width: 50%;  
    display: block;
    
}

.hero-text {
    background:  #2b57a1;;
    width: 50%;
    margin: 110px auto 40px 200px;
    padding: 20px;
    text-align: center;
    color: #f1f4fc;
    height: 100px;
    
}
.hero-text__big{
    font: 5rem/1.2 theinhardt-web,sans-serif;
    /* font-size: 60px; */
    /* font-family: theinhardt-web,sans-serif;
    /* font-weight: 500; */
}
.hero-text__small{
    /* font-size: 2.1rem; */
    font: 2.1rem/1.2 theinhardt-web,sans-serif;
    /* font-family: theinhardt-web,sans-serif; */
    margin-top: 30px;
}
.hero-button {
    background:  #2b57a1;;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.hero-right {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
    margin-top: 70px;
}
 
.hero-right img {
    width: 100%;
    height: 100%;
    box-shadow:0 0 2em white;
    position:absolute;  
    transition: all 2s; 
}
.hero-right img:first-child {
    opacity: 0;
}

.hero-right img:last-child {
    opacity: 1;
    animation: appear 2s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#hero a {
    text-decoration: none;
    height: 52px;
    font-size: 18px;
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 4px;
    cursor: pointer;
    transition: color 0.5s, font-size 0.5s;
}
#hero a :hover{
    color:lightblue;
    font-size: 23px;
}


/* end hero */

/* main */


.main-container {
    background-color: rgb(216, 59, 59);
    height: 800px;
}

.main-title {
    background: rgb(221, 152, 152);
    height: 250px;
    text-align: center;
    font-size: 120px;   
    

}

.main-box {
    display: flex;
    justify-content: space-around;
    padding-top: 40px; 
}

.main-column {
    margin: 5px;
    text-align: center;
}

.main-icon {
    display: block
}

/* end main */

/* form */


.form-container{
    height: 600px;
    background:  #f1f4fc;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.form{
    height: 35%;
    width: 40%;
    background: #5e93d4;
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content:center;
}

form {
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content:center;
    flex-direction: column;
}

.form-input{
    border-radius: 15px;
    justify-content:center;
    font-size: 20px;
}
.form-text{
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: 1rem;
    color: #122843;
}
.form-text2{
    font-family: Roboto,Arial,sans-serif;
    font-size: 12px;
    margin-bottom: 1rem;
    color: #122843;
}
.form-btn{
    border-radius: 15px;
    font-size: 15px;
    
}
.form-btn button {
    font-size: 15px;
    width: 205px;
    font-family: Roboto,Arial,sans-serif;
    margin-top: 10px;
    border-radius: 5px;
    border-color:#448aff;
    background: #448aff;
    color:  #f1f4fc;
}
input{
    height: 20px;
    width: 205px;
    font-family: Roboto,Arial,sans-serif;
    background: #ffeb3bc9;
    border-radius: 5px;
    
}
.form{
    height: 60%;
    /* background: blueviolet; */
     background:#18bfac
    
    
}

/* end form */

/* team  */

body {
    margin: 0;
}
#team {
    background: #122843;

}


.team-top {
   
    display: flex;
    justify-content: space-between;
}

.team-description {
    width: 50%;
    margin: 10px;
    font-size: 24px;
}

.team-logo {
    width: 20%;
    
    margin: 10px;
}

.team-logo-img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    box-shadow: 0 0 20px whitesmoke;
}

.team-bottom {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.team-member {
    margin: 10px;
    max-width: 20%;
    padding: 5px;
}

.member-description {
    font-size: 30px;
}
.team-member, .team-description {
    box-sizing: border-box;
}

.member-img-container, .member-description, .member-links {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
}

.member-img-container {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 20px whitesmoke
}

.member-description {
    text-align: center;
    font-size: 40px;
    box-shadow: 0 0 15px white;
    animation: appear 5s;

}

.member-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 3.5em;
    padding: 10px;
}

.member-links>a {
    color: black;
    transition: 2s ease-out;
}

/* animacje */

.member-links>a:hover {
    color: darkmagenta;
    transform: scale(1.1);
    transition: 0.5s;
}

.member-img-container:hover {
    animation: permarotate infinite 1s linear;
}

@keyframes permarotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* end team  */
/* footer */
.footer{
    background:#2b57a1;;
    }
    .footer-text{
    display: flex;
    justify-content:center;
    font-family: theinhardt-web,sans-serif;
    color: aliceblue;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
    }

/* end footer */