/* https://pharmacy.well.co.uk/
czcionki
nav {
font-size: 1.8rem;
font-family: theinhardt-web,sans-serif;
}
hero{
Główny font-size: 6.4rem;
mniejszy font-size: 2.1rem;
letter-spacing: -.015em;
font-family: theinhardt-web,sans-serif;
font-weight: 500;
}
button sign font-size: 2.1rem;
footer{

font-family: theinhardt-web,sans-serif;

font-style: normal;

font-weight: 400;

}

Kolory

Główny niebieski  #2b57a1;

jasny niebieski #5e9aff

ciemny niebieski #33a58e;

niebieski przyciski #5e9aff

główny zielony #33a58e;

jasny zielony #8bc34a;

pomarańcz #faa539
niby biały #f1f4fc */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
    font-family: theinhardt-web,sans-serif;
    font-weight: 500;
    letter-spacing: -.015em;
    line-height: 1;
    color: #000;
    background: #fff;



}

/* nav */

#nav {
    height: 76px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #2b57a1;
    color: #fff;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
}

.logo {
    height: 80px;
    width: 120px;
}

/* TODO humburger menu, DISPLAY:NONE !*/

.menu {
    align-items: stretch;
    margin-top:auto;
    margin-bottom: auto;
}

.nav-item {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 52px;
    font-size: 1.8rem;
    font-family: theinhardt-web,sans-serif;
    text-decoration: none;
    letter-spacing: 4px;
    cursor: pointer;
    transition: color 0.5s, font-size 0.5s;
    display: none;

}

.nav-item:hover {
    font-size: 2rem;
}

/* end nav  */

/* hero */

#hero {
    width: 100%;
    background: #2b57a1;
    color: #fff;
}

.hero-container {
    margin-top: 4em;
    width: 100%;
    padding-top: 2em;

}

.hero-left {
    display: block;
    text-align: start;
    width: 60%;
    padding-top: 2em;
    padding-left: 2em;
}

.hero-button {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.hero-button__color {
    background: #fff;
    text-decoration: none;
    padding: 1em 4em;
    border-radius: 5px;


}

.hero-right {
    position: relative;
    height: 281px;
}

.hero-right img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 2s;
}

.hero-right img:first-child {
    opacity: 0;
}

.hero-right img:last-child {
    opacity: 1;
    animation: appear 2s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/* end hero */

/* main */

.main-container {

    background-color: #f1f4fc;
    padding-top: 4em;

    
}
    

.main-box {
    justify-content: space-around;
}

.main-column {
    padding: 3em;
}

.main-icon {
    color: #726d87; 
    text-align: center;
    display: table-cell;
    vertical-align: middle; 
    width: 10%;  
    margin-left: auto;
    margin-right: auto;
}


.main-text {
    font-family: theinhardt-web,sans-serif;
    text-align: center;
    color: #726d87;
    font-size: 1em;
    letter-spacing: -.015em;
    line-height: 1.7em;
}
.main-text h3 {
    font-size: 1.5em
}
/* end main */

/* form */

.form-container {
    align-items: center;
    justify-content: center;
}

.form {
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    height: 60%;
  
}

form {
    align-items: center;
    border-radius: 15px;
    justify-content: center;
}

.form-input {
    border-radius: 15px;
    justify-content: center;
    font-size: 1em;
}

.form-text {
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 2em;
}

.form-text2 {
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
}

.form-btn {
    border-radius: 15px;
    font-size: 15px
}

.form-btn button {
    font-size: 15px;
    width: 205px;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 5px;
}

input {
    height: 20px;
    width: 205px;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 5px;
}

/* end form */

/* team  */

#team {
    padding-top: 4em
}

.team-top {
    justify-content: space-between;
}

.team-description {
    font-size: 1.2em;
}

.team-bottom {
    padding-top: 4em;
}

.team-member, .team-description {
    box-sizing: border-box;
    margin: auto;
}

.member-img-container, .member-description, .member-links {
    box-sizing: border-box;
    width: 100%;
}

.team-member {
    padding-top: 2em;
    padding-left: 15%;
    padding-right: 15%;

}

.member-img-container {
    border-radius: 50%;
    height: 250px;
    box-shadow: 0 0 20px whitesmoke;
    text-align: center;
    
}

.member-description {
    text-align: center;
    font-size: 2em;
    box-shadow: 0 0 15px white;
    animation: appear 5s;
    padding-top: 1em;
    padding-bottom: 1em;

}

.member-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 3.5em;
    padding: 10px;
}

.member-links>a {
    transition: 2s ease-out;
    text-decoration: none;
}

/* animacje */

.member-links>a:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.member-img-container:hover {
    animation: permarotate infinite 1s linear;
}

@keyframes permarotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* end team  */

/* footer */


.footer-text {
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* end footer */