/* main */


.main-container {
    background-color: #f1f4fc;
    height: 500px;
}
    
.main-box {
    display: flex;
    justify-content: space-around;
    padding-top: 30px; 
}

.main-column {
    margin: auto;
}

.main-icon {
    color: #726d87; 
    height: 200px;
    width: 350px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;   
}

.main-text {
    width: 350px;
    height: 300px;
    font-family: theinhardt-web,sans-serif;
    text-align: center;
    color: #726d87;
    font-size: 19px;
    letter-spacing: -.015em;
    line-height: 1.7em;
}

/* end main */
